<h1>New track</h1>

<form action="<%= tracks_url %>" method="post">
  <%= render 'form', track: @track %>
  <p><input type="submit" value="Create track"></p>
</form>

<a href="<%= album_url(@track.album) %>">Back</a>
