<%= errors %>
<%= auth_token %>
<label>Email:
  <input type="email" name="user[email]" value="<%= @user.email %>">
</label>
<label>Password:
  <input type="password" name="user[password]" value="<%= @user.password %>">
</label>
