<h1>Edit album</h1>

<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= render 'form' %>
  <p><input type="submit" value="Save changes"></p>
</form>

<a href="<%= album_url(@album) %>">Back</a>
