<h1>Edit band</h1>

<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= render 'form', band: @band %>
  <p><input type="submit" value="Save changes"></p>
</form>

<a href="<%= bands_url %>">Back</a>
